.content-character {
  align-items: center;
  padding-bottom: 2rem;
}

.character-footer-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--yellow-starwars-color);
  font-size: 1.5rem;
  /* background-color: green; */
  /* temp */
  padding-top: 1rem;
}

.content-character .character-list {
  color: var(--yellow-starwars-color);
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.content-character .character-list:hover {
  background-color: blueviolet;
}

.list {
  list-style: none;
  padding-left: 0;
}
