@font-face {
  font-family: "ropa";
  @import url("https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap");
}

:root {
  font-family: "Ropa Sans", sans-serif;
  --font-ropa-sans: "Ropa Sans";
}

.container {
  display: flex;
}

.main-content {
  height: 200px;
  width: 200px;
  background-color: red;
}
