.container {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 4rem;
  top: -4rem;
}

/* överskrider detta container i värde ? */
.content-character {
  display: flex;
  flex-direction: column;
  background-color: var(--navy-lighter);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  /* storlek (temp)*/
  width: 23.75rem;
}
