.main-header {
  display: flex;
  font-family: var(--font-ropa-san);
  color: var(--yellow-starwars-color);
}

.heading {
  color: var(--yellow-starwars-color);
  font-weight: 400;
  font-size: 4rem;
  margin-left: 4rem;
}

.heading h1 {
  color: var(--yellow-starwars-color);
  font-family: var(--font-ropa-san);
  font-size: 4rem;
}

.header-background {
  display: flex;
  align-items: center;
  background-image: url(assets/img/header-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 30svh;
  width: 100%;
  /* temp? */
  padding: 2rem;
  /* tem padding 2rem? */
}
